body {


width: 100%;
height: 100%;
margin: 0; 


}

#hero {

min-height: 100vh;
position: relative;




}

video{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;



}

.capa{

position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
opacity: 0.10;
mix-blend-mode: overlay;





}

.wrap{

  padding-top: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; 
  width: 95%;
  margin: auto;
  position: relative;
  z-index: 2;

}

  
.wrap-texto{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  width: 50%;



}




.navbar{

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   
    background-color:rgb(138, 175, 209);
    top: 15%;
    font-size: 130%;
    z-index: 2;
  
}



.container1{
    
    width:1000px ;
    height: 200px; 
    margin-top: 290px;
    margin-left: 250px;
    line-height: 60px;
}




.words{

    color: rgb(241, 241, 235);
    font-size: 55%;
    line-height: 1.5;
}

.words span{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 700%;
    font-weight: 950;
    text-align: center;
    display: inline block;
      
}
 

/*:::::Pie de Pagina*/
.pie-pagina{
  width: 100%;
  background-color: #0a141d;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}

